In [42]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

sns.set()

In [43]:
# see the link below for detailed interpretation of the columns # 

''' The nmx shows age grp (yearly) probability of death, the nqx shows proportion of age group that dies within
the age interval. That can be calculated by 1 - (1-nmx) ** interval, as e.g. for dice: "whats the prob of
hitting at least 1 six with 2 dice ?" : 1 - (5/6 * 5/6)

'''

tables = pd.read_html('https://www.measureevaluation.org/resources/training/online-courses-and-resources/non-certificate-courses-and-mini-tutorials/multiple-decrement-life-tables/lesson-3',
                     match='Costa Rican',skiprows=3,header=0)
tables

[   Age Interval      nmx      nqx      lx    ndx     nLx       Tx        ex0
 0       <1 year  0.07505  0.07230  100000   7230   96340  6297331  62.973310
 1           1-4  0.00701  0.02765   92770   2566  365924  6200991  66.842870
 2           5-9  0.00171  0.00851   90204    768  449098  5835067  64.687360
 3         10-14  0.00128  0.00636   89436    569  445757  5385970  60.221410
 4         15-19  0.00129  0.00641   88867    570  442912  4940212  55.590810
 5         20-24  0.00181  0.00899   88298    793  439502  4497301  50.933320
 6         25-29  0.00163  0.00814   87504    712  435739  4057798  46.372540
 7         30-34  0.00198  0.00984   86792    854  431822  3622059  41.732550
 8         35-39  0.00302  0.01497   85938   1287  426465  3190237  37.122510
 9         40-44  0.00442  0.02184   84651   1849  418616  2763772  32.648960
 10        45-49  0.00645  0.03175   82802   2629  407402  2345156  28.322420
 11        50-54  0.00923  0.04509   80173   3615  391758  1937754  24.169660
 12        55-59  0.01344  0.06498   76558   4975  370214  1545996  20.193790
 13        60-64  0.02364  0.11146   71583   7979  337577  1175782  16.425350
 14        65-69  0.03633  0.16609   63605  10564  290813   838205  13.178380
 15        70-74  0.05182  0.22826   53040  12107  233629   547391  10.320270
 16        75-79  0.07644  0.31765   40933  13002  170095   313763   7.665223
 17        80-84  0.13520  0.49135   27931  13724  101508   143668   5.143692
 18          85+  0.33698  1.00000   14207  14207   42160    42160   2.967532,
    Age Interval     nmx     nqx      lx    ndx     nLx       Tx    ex0
 0       <1 year  0.0640  0.0620  100000   6199   96868  6544328  65.44
 1           1-4  0.0077  0.0303   93801   2840  369496  6447460  68.74
 2           5-9  0.0017  0.0084   90961    761  452900  6077964  66.82
 3         10-14  0.0010  0.0048   90200    429  449925  5625064  62.36
 4         15-19  0.0008  0.0042   89771    377  447912  5175139  57.65
 5         20-24  0.0013  0.0063   89394    565  445556  4727227  52.88
 6         25-29  0.0018  0.0087   88829    776  442202  4281672  48.20
 7         30-34  0.0023  0.0113   88053    993  437779  3839470  43.60
 8         35-39  0.0028  0.0137   87060   1191  432318  3401690  39.07
 9         40-44  0.0029  0.0146   85870   1251  426212  2969373  34.58
 10        45-49  0.0046  0.0229   84618   1940  418222  2543161  30.05
 11        50-54  0.0070  0.0343   82678   2833  406265  2124939  25.70
 12        55-59  0.0105  0.0511   79845   4078  388937  1718675  21.53
 13        60-64  0.0188  0.0896   75766   6789  361591  1329737  17.55
 14        65-69  0.0288  0.1340   68977   9241  321227   968146  14.04
 15        70-74  0.0462  0.2062   59736  12317  266702   646918  10.83
 16        75-79  0.0678  0.2874   47419  13626  201109   380216   8.02
 17        80-84  0.1329  0.4853   33793  16401  123455   179108   5.30
 18          85+  0.3125  1.0000   17392  17392   55653    55653   3.20]

In [44]:
len(tables)

2

In [45]:
life_table = tables[0]
life_table['interval'] = [1,4] + [5] * 16 + [1]

In [46]:
life_table['dice_calc_nqx'] = 1 - ( ( 1 - life_table['nmx'] ) ** life_table['interval'])
life_table['exp_calc_nqx'] = 1 - np.exp(-life_table['interval'] * life_table['nmx'])
life_table = life_table.set_index('Age Interval')
life_table

,nmx,nqx,lx,ndx,nLx,Tx,ex0,interval,dice_calc_nqx,exp_calc_nqx
Age Interval,,,,,,,,,,
<1 year,0.07505,0.07230,100000,7230,96340,6297331,62.973310,1,0.075050,0.072303
1-4,0.00701,0.02765,92770,2566,365924,6200991,66.842870,4,0.027747,0.027651
5-9,0.00171,0.00851,90204,768,449098,5835067,64.687360,5,0.008521,0.008514
10-14,0.00128,0.00636,89436,569,445757,5385970,60.221410,5,0.006384,0.006380
15-19,0.00129,0.00641,88867,570,442912,4940212,55.590810,5,0.006433,0.006429
20-24,0.00181,0.00899,88298,793,439502,4497301,50.933320,5,0.009017,0.009009
25-29,0.00163,0.00814,87504,712,435739,4057798,46.372540,5,0.008123,0.008117
30-34,0.00198,0.00984,86792,854,431822,3622059,41.732550,5,0.009861,0.009851
35-39,0.00302,0.01497,85938,1287,426465,3190237,37.122510,5,0.015009,0.014987
40-44,0.00442,0.02184,84651,1849,418616,2763772,32.648960,5,0.021905,0.021858
45-49,0.00645,0.03175,82802,2629,407402,2345156,28.322420,5,0.031837,0.031736
50-54,0.00923,0.04509,80173,3615,391758,1937754,24.169660,5,0.045306,0.045101
55-59,0.01344,0.06498,76558,4975,370214,1545996,20.193790,5,0.065418,0.064992
60-64,0.02364,0.11146,71583,7979,337577,1175782,16.425350,5,0.112742,0.111482
65-69,0.03633,0.16609,63605,10564,290813,838205,13.178380,5,0.168922,0.166107
70-74,0.05182,0.22826,53040,12107,233629,547391,10.320270,5,0.233603,0.228254
75-79,0.07644,0.31765,40933,13002,170095,313763,7.665223,5,0.328068,0.317641
80-84,0.13520,0.49135,27931,13724,101508,143668,5.143692,5,0.516297,0.491352
85+,0.33698,1.00000,14207,14207,42160,42160,2.967532,1,0.336980,0.286077

In [47]:
# for an open ended age grp 85+, mortality is set to 1
# note also that dice method gives erroneous result for open ended age grp 85+

life_table.at['85+','exp_calc_nqx'] = 1 
life_table['calc_nLx'] = life_table['ndx'] / life_table['nmx']
life_table

,nmx,nqx,lx,ndx,nLx,Tx,ex0,interval,dice_calc_nqx,exp_calc_nqx,calc_nLx
Age Interval,,,,,,,,,,,
<1 year,0.07505,0.07230,100000,7230,96340,6297331,62.973310,1,0.075050,0.072303,96335.776149
1-4,0.00701,0.02765,92770,2566,365924,6200991,66.842870,4,0.027747,0.027651,366048.502140
5-9,0.00171,0.00851,90204,768,449098,5835067,64.687360,5,0.008521,0.008514,449122.807018
10-14,0.00128,0.00636,89436,569,445757,5385970,60.221410,5,0.006384,0.006380,444531.250000
15-19,0.00129,0.00641,88867,570,442912,4940212,55.590810,5,0.006433,0.006429,441860.465116
20-24,0.00181,0.00899,88298,793,439502,4497301,50.933320,5,0.009017,0.009009,438121.546961
25-29,0.00163,0.00814,87504,712,435739,4057798,46.372540,5,0.008123,0.008117,436809.815951
30-34,0.00198,0.00984,86792,854,431822,3622059,41.732550,5,0.009861,0.009851,431313.131313
35-39,0.00302,0.01497,85938,1287,426465,3190237,37.122510,5,0.015009,0.014987,426158.940397
40-44,0.00442,0.02184,84651,1849,418616,2763772,32.648960,5,0.021905,0.021858,418325.791855
45-49,0.00645,0.03175,82802,2629,407402,2345156,28.322420,5,0.031837,0.031736,407596.899225
50-54,0.00923,0.04509,80173,3615,391758,1937754,24.169660,5,0.045306,0.045101,391657.638137
55-59,0.01344,0.06498,76558,4975,370214,1545996,20.193790,5,0.065418,0.064992,370163.690476
60-64,0.02364,0.11146,71583,7979,337577,1175782,16.425350,5,0.112742,0.111482,337521.150592
65-69,0.03633,0.16609,63605,10564,290813,838205,13.178380,5,0.168922,0.166107,290778.970548
70-74,0.05182,0.22826,53040,12107,233629,547391,10.320270,5,0.233603,0.228254,233635.661907
75-79,0.07644,0.31765,40933,13002,170095,313763,7.665223,5,0.328068,0.317641,170094.191523
80-84,0.13520,0.49135,27931,13724,101508,143668,5.143692,5,0.516297,0.491352,101508.875740
85+,0.33698,1.00000,14207,14207,42160,42160,2.967532,1,0.336980,1.000000,42159.772093

In [48]:
life_table['ndx'].sum()

100000