In [1]:
### list report_dates below must be updated after each read of new scb-data

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

sns.set()

In [3]:
df = pd.read_excel('scb_prel_deaths.xlsx',sheet_name='Tabell 8',skiprows=6)

In [4]:
df

,DagMånad,3 april,6 april,14 april,20 april,27 april,4 maj,11 maj,18 maj,25 maj,...,2 nov.,9 nov.,16 nov.,23 nov.,30 nov.,7 dec.,14 dec.,21 dec.,4 jan.,11 jan.
0,1 januari 2020,254.0,254.0,254.0,254.0,254.0,254.0,254.0,254.0,254.0,...,254.0,254.0,254.0,254.0,254.0,254.0,254.0,254.0,254.0,254.0
1,2 januari 2020,299.0,299.0,299.0,299.0,299.0,299.0,299.0,299.0,299.0,...,301.0,301.0,301.0,301.0,301.0,301.0,301.0,301.0,301.0,302.0
2,3 januari 2020,256.0,256.0,256.0,256.0,256.0,256.0,256.0,256.0,256.0,...,256.0,256.0,256.0,256.0,256.0,256.0,256.0,256.0,256.0,256.0
3,4 januari 2020,272.0,272.0,272.0,272.0,272.0,272.0,272.0,272.0,272.0,...,273.0,273.0,273.0,273.0,273.0,273.0,273.0,273.0,273.0,274.0
4,5 januari 2020,265.0,265.0,265.0,265.0,265.0,265.0,265.0,265.0,265.0,...,265.0,265.0,265.0,265.0,265.0,265.0,265.0,265.0,265.0,265.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
386,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
387,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
388,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
389,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
390,Okänd dödsdag,559.0,599.0,638.0,NaN,NaN,NaN,NaN,888.0,928.0,...,2073.0,2140.0,2200.0,2243.0,2292.0,2351.0,2412.0,2465.0,2528.0,NaN

In [5]:
def monthname2number(m):
        if m == 'januari' or m == 'jan' : return 1
        if m == 'februari' or m == 'feb' : return 2
        if m == 'mars'  or m == 'mar': return 3
        if m == 'april' or m == 'apr': return 4
        if m == 'maj'  or m == 'maj': return 5
        if m == 'juni'  or m == 'jun': return 6
        if m == 'juli' or m == 'jul': return 7
        if m == 'augusti' or m == 'aug.': return 8
        if m == 'september' or m == 'sep.': return 9
        if m == 'oktober' or m == 'okt.' : return 10
        if m == 'november' or m == 'nov.': return 11
        if m == 'december' or m == 'dec.': return 12

In [6]:
df[['day','month','dummy']] = df['Datum'].str.split(' ',expand=True)
df.drop(['Datum','dummy'],axis=1,inplace=True)

KeyError: 'Datum'

In [ ]:
df.index = pd.date_range('2020-01-01','2021-01-01')
df = df.iloc[:,:-2]
df = df[:-1]
df

In [ ]:
df_monthly = df.resample('M').sum()
df_monthly

In [ ]:

df_monthly.columns

In [ ]:
def swe2eng(datum):
    
    month_map = {'april' : '04',
                'maj' : '05',
                'juni' : '06',
                'juli' : '07',
                'aug.' : '08',
                'sep.' : '09',
                'okt.' : '10',
                'nov.' : '11',
                'dec.' : '12'}
    
    dag,mon = datum.split()
    
    if len(dag) == 1:
        dag = '0' + dag
    
    return '2020-' + month_map[mon] + '-' + dag

In [ ]:
report_dates = [ swe2eng(x) for x in df_monthly.columns.values ]

In [ ]:
'''
report_dates = ['2020-04-03','2020-04-06','2020-04-14','2020-04-20','2020-04-27',
                '2020-05-04','2020-05-11','2020-05-18','2020-05-25',
                '2020-06-01','2020-06-08','2020-06-15','2020-06-22','2020-06-29',
               '2020-07-03','2020-07-10','2020-07-17','2020-07-24',
                '2020-08-03','2020-08-10','2020-08-17','2020-08-24','2020-08-31',
               '2020-09-07','2020-09-14','2020-09-21','2020-09-28',
               '2020-10-05','2020-10-12','2020-10-19','2020-10-26','2020-11-02','2020-11-09',
               '2020-11-16','2020-11-23','2020-11-30','2020-12-07']

'''
report_dates = pd.to_datetime(report_dates)
df_monthly.columns = report_dates
df_monthly.index = df_monthly.index.date

In [ ]:
df_monthly = df_monthly[:-1]
df_monthly

In [ ]:
df_monthly.T.plot(style='o--',figsize=(18,12),title='Sweden monthly deaths per reporting date')
plt.xlabel('reporting date')
plt.ylabel('monthly deaths reported')
plt.yticks(range(0,12000,1000))
#plt.yscale('log')
plt.savefig('sweden_monthly_deaths_per_reporting_date.jpg',format='jpg')

In [ ]:
df_weekly = df.resample('W').sum()
df_weekly

In [ ]:
df_weekly.columns = report_dates

In [ ]:
df_weekly

In [ ]:
all_zeros = (df_weekly.T == 0).all()

In [ ]:
df_weekly.index = df_weekly.index.date

df_weekly = df_weekly[~all_zeros]
df_weekly

In [ ]:
df_weekly.T.plot(style='o--',figsize=(18,12),title='Sweden weekly deaths per reporting date',legend=False)
plt.xlabel('reporting date')
plt.ylabel('weekly deaths reported')

In [ ]:
df_monthly.T

In [ ]:
change_by_report_date = df_monthly.T / df_monthly.T.shift()
change_by_report_date

In [ ]:
change_by_report_date.plot(figsize=(18,12),style='o--')
plt.ylim([1,2])

In [ ]:
last_report = df_monthly.T.iloc[-1]
last_report

In [ ]:
df_monthly.T / last_report

In [ ]:
# assuming 1:St week after month change the numbers are 85%, after second 95%, of final