In [64]:
import pandas as pd
import glob
import numpy as np

# new files since april-12

path = '../../corona/COVID-19/csse_covid_19_data/csse_covid_19_daily_reports_us/*.csv'

files = glob.glob(path)

us_states = pd.read_csv('us_states.csv',sep=';',header=None,usecols=[0])
us_states_df = pd.DataFrame()

for f in files:
    date = f.split('/')[-1].split('.')[0]
    
    df = pd.read_csv(f,sep=',',usecols=[0,2,5,6])
    df['Last_Update'] = (pd.to_datetime(df['Last_Update']))
    df['date'] = pd.to_datetime([date] * len(df))

    df.rename(columns={'Province_State' : 'state',
                      'Confirmed' : 'confirmed',
                      'Deaths' : 'deceased'},inplace=True)
    df = pd.merge(df,us_states,left_on='state',right_on=0)
    df.drop(0,axis=1,inplace=True)
    df.set_index('date',inplace=True)

    
    us_states_df = pd.concat([us_states_df,df])
    
us_states_df

                    state         Last_Update  confirmed  deceased
date
2020-04-12        Alabama 2020-04-12 23:18:15       3563        93
2020-04-12         Alaska 2020-04-12 23:18:15        272         8
2020-04-12        Arizona 2020-04-12 23:18:15       3542       115
2020-04-12       Arkansas 2020-04-12 23:18:15       1280        27
2020-04-12     California 2020-04-12 23:18:15      22795       640
...                   ...                 ...        ...       ...
2020-06-09       Virginia 2020-06-10 04:07:14      51738      1496
2020-06-09     Washington 2020-06-10 04:07:14      24354      1176
2020-06-09  West Virginia 2020-06-10 04:07:14       2169        84
2020-06-09      Wisconsin 2020-06-10 04:07:14      21308       661
2020-06-09        Wyoming 2020-06-10 04:07:14        970        17

[3009 rows x 4 columns]

In [65]:
state_names = us_states_df['state'].unique()

state_dic = dict()

def process_state(state_name):
    
    state = (us_states_df[us_states_df['state'] == state_name]).copy()
    state['inc'] = state['confirmed'] - state['confirmed'].shift()
    state['dead_inc'] = state['deceased'] - state['deceased'].shift()
    state['factor'] = state['confirmed'] / state['confirmed'].shift()
    state['dead_factor'] = state['deceased'] / state['deceased'].shift()
    state_dic[state_name] = state

In [66]:
for s in state_names:
    process_state(s)
    
state_dic['New York']

,state,Last_Update,confirmed,deceased,inc,dead_inc,factor,dead_factor
date,,,,,,,,
2020-04-12,New York,2020-04-12 23:18:15,189033,9385,NaN,NaN,NaN,NaN
2020-04-13,New York,2020-04-13 23:07:54,195749,10058,6716.0,673.0,1.035528,1.071710
2020-04-14,New York,2020-04-14 23:33:31,203020,10842,7271.0,784.0,1.037145,1.077948
2020-04-15,New York,2020-04-15 22:56:51,214454,11617,11434.0,775.0,1.056320,1.071481
2020-04-16,New York,2020-04-16 23:30:51,223691,14832,9237.0,3215.0,1.043072,1.276750
2020-04-17,New York,2020-04-17 23:30:52,230597,17131,6906.0,2299.0,1.030873,1.155003
2020-04-18,New York,2020-04-18 22:32:47,241712,17671,11115.0,540.0,1.048201,1.031522
2020-04-19,New York,2020-04-19 23:41:01,247815,18298,6103.0,627.0,1.025249,1.035482
2020-04-20,New York,2020-04-20 23:36:47,253060,18611,5245.0,313.0,1.021165,1.017106
2020-04-21,New York,2020-04-21 23:40:34,258361,19104,5301.0,493.0,1.020948,1.026490
2020-04-22,New York,2020-04-22 23:40:26,263292,19413,4931.0,309.0,1.019086,1.016175
2020-04-23,New York,2020-04-24 03:33:00,263460,20973,168.0,1560.0,1.000638,1.080359
2020-04-24,New York,2020-04-25 06:32:46,271590,21411,8130.0,438.0,1.030859,1.020884
2020-04-25,New York,2020-04-26 02:32:45,282143,22009,10553.0,598.0,1.038856,1.027930
2020-04-26,New York,2020-04-27 02:32:46,288045,22269,5902.0,260.0,1.020918,1.011813
2020-04-27,New York,2020-04-28 02:32:46,291996,22668,3951.0,399.0,1.013717,1.017917
2020-04-28,New York,2020-04-29 02:32:33,295106,22912,3110.0,244.0,1.010651,1.010764
2020-04-29,New York,2020-04-30 02:32:31,299691,23477,4585.0,565.0,1.015537,1.024660
2020-04-30,New York,2020-05-01 02:32:32,304372,23587,4681.0,110.0,1.015619,1.004685
2020-05-01,New York,2020-05-02 02:32:31,308314,24039,3942.0,452.0,1.012951,1.019163
2020-05-02,New York,2020-05-03 02:32:33,312977,24198,4663.0,159.0,1.015124,1.006614
2020-05-03,New York,2020-05-04 02:32:32,316415,24708,3438.0,510.0,1.010985,1.021076
2020-05-04,New York,2020-05-05 02:32:38,318953,24999,2538.0,291.0,1.008021,1.011778
2020-05-05,New York,2020-05-06 02:32:35,321192,25124,2239.0,125.0,1.007020,1.005000
2020-05-06,New York,2020-05-07 02:32:32,323978,25623,2786.0,499.0,1.008674,1.019861
2020-05-07,New York,2020-05-08 02:32:36,327469,26144,3491.0,521.0,1.010775,1.020333
2020-05-08,New York,2020-05-09 02:32:39,330407,26243,2938.0,99.0,1.008972,1.003787
2020-05-09,New York,2020-05-10 02:32:34,333122,26612,2715.0,369.0,1.008217,1.014061
2020-05-10,New York,2020-05-11 02:32:34,335395,26641,2273.0,29.0,1.006823,1.001090
2020-05-11,New York,2020-05-12 03:32:31,337055,26988,1660.0,347.0,1.004949,1.013025
2020-05-12,New York,2020-05-13 03:32:30,338485,27284,1430.0,296.0,1.004243,1.010968
2020-05-13,New York,2020-05-14 03:32:32,340661,27477,2176.0,193.0,1.006429,1.007074
2020-05-14,New York,2020-05-15 02:33:07,343051,27641,2390.0,164.0,1.007016,1.005969
2020-05-15,New York,2020-05-16 02:32:24,345813,27878,2762.0,237.0,1.008051,1.008574
2020-05-16,New York,2020-05-17 02:32:37,348232,28049,2419.0,171.0,1.006995,1.006134
2020-05-17,New York,2020-05-18 02:32:26,350121,28232,1889.0,183.0,1.005425,1.006524
2020-05-18,New York,2020-05-19 02:32:23,351371,28339,1250.0,107.0,1.003570,1.003790
2020-05-19,New York,2020-05-20 02:32:25,352845,28558,1474.0,219.0,1.004195,1.007728
2020-05-20,New York,2020-05-21 02:32:54,354370,28636,1525.0,78.0,1.004322,1.002731
2020-05-21,New York,2020-05-22 02:36:57,356458,28743,2088.0,107.0,1.005892,1.003737
2020-05-22,New York,2020-05-23 02:32:47,358154,28853,1696.0,110.0,1.004758,1.003827
2020-05-23,New York,2020-05-24 02:32:48,359926,29031,1772.0,178.0,1.004948,1.006169
2020-05-24,New York,2020-05-25 02:32:50,361515,29141,1589.0,110.0,1.004415,1.003789
2020-05-25,New York,2020-05-26 02:32:41,362764,29229,1249.0,88.0,1.003455,1.003020
2020-05-26,New York,2020-05-27 02:32:37,363836,29302,1072.0,73.0,1.002955,1.002498
2020-05-27,New York,2020-05-28 02:32:37,364965,29484,1129.0,182.0,1.003103,1.006211
2020-05-28,New York,2020-05-29 02:32:58,366733,29529,1768.0,45.0,1.004844,1.001526
2020-05-29,New York,2020-05-30 02:32:55,368284,29646,1551.0,117.0,1.004229,1.003962
2020-05-30,New York,2020-05-31 02:32:52,369660,29710,1376.0,64.0,1.003736,1.002159
2020-05-31,New York,2020-06-01 02:32:54,370770,29784,1110.0,74.0,1.003003,1.002491
2020-06-01,New York,2020-06-02 02:33:16,371711,29917,941.0,133.0,1.002538,1.004465
2020-06-02,New York,2020-06-03 02:33:21,373040,29968,1329.0,51.0,1.003575,1.001705
2020-06-03,New York,2020-06-04 02:33:23,374085,30019,1045.0,51.0,1.002801,1.001702
2020-06-04,New York,2020-06-05 02:33:15,375133,30174,1048.0,155.0,1.002802,1.005163
2020-06-05,New York,2020-06-06 02:33:09,376208,30236,1075.0,62.0,1.002866,1.002055
2020-06-06,New York,2020-06-07 03:53:50,377316,30280,1108.0,44.0,1.002945,1.001455
2020-06-07,New York,2020-06-08 03:33:42,378097,30374,781.0,94.0,1.002070,1.003104
2020-06-08,New York,2020-06-09 03:33:19,378799,30417,702.0,43.0,1.001857,1.001416
2020-06-09,New York,2020-06-10 04:07:14,379482,30458,683.0,41.0,1.001803,1.001348

In [67]:
# old data from files before april 12
old_state_dic = pd.read_pickle('us_state_dict_old.pkl')

In [68]:
#https://worldpopulationreview.com/states/
us_state_density = pd.read_csv('us_states_pop_density.csv')
us_state_density.set_index('State',inplace=True)

us_state_economy = pd.read_csv('us_states_economy.csv',header=None,sep=';',
                               index_col=[1],thousands=',')

sqr_mile_factor = 2.58998811

us_state_density['density'] *= sqr_mile_factor 

us_state_economy.drop([0,2,3,5],axis=1,inplace=True)
us_state_economy.rename(columns={4:'gdp'},inplace=True)
us_state_economy.index.name='state'

In [69]:
us_state_density

,rank,Pop,Growth,Pop2018,Pop2010,growthSince2010,Percent,density
State,,,,,,,,
California,1,39937489,0.0096,39557045,37320903,0.0701,0.1194,664.002245
Texas,2,29472295,0.0268,28701845,25242679,0.1676,0.0881,292.203495
Florida,3,21992985,0.0326,21299325,18845785,0.1670,0.0658,1062.220428
New York,4,19440469,-0.0052,19542209,19400080,0.0021,0.0581,1068.424744
Pennsylvania,5,12820878,0.0011,12807060,12711158,0.0086,0.0383,742.147884
Illinois,6,12659682,-0.0064,12741080,12840762,-0.0141,0.0379,590.580226
Ohio,7,11747694,0.0050,11689442,11539327,0.0181,0.0351,744.631424
Georgia,8,10736059,0.0206,10519475,9711810,0.1055,0.0321,483.478001
North Carolina,9,10611862,0.0220,10383620,9574293,0.1084,0.0317,565.317223
Michigan,10,10045029,0.0049,9995915,9877535,0.0170,0.0300,460.151533
New Jersey,11,8936574,0.0031,8908520,8799624,0.0156,0.0267,3147.351220
Virginia,12,8626207,0.0127,8517685,8023680,0.0751,0.0258,565.757780
Washington,13,7797095,0.0347,7535591,6742902,0.1563,0.0233,303.876053
Arizona,14,7378494,0.0288,7171646,6407774,0.1515,0.0221,168.232678
Massachusetts,15,6976597,0.0108,6902149,6566431,0.0625,0.0209,2316.577310
Tennessee,16,6897576,0.0188,6770010,6355301,0.0853,0.0206,433.239743
Indiana,17,6745354,0.0080,6691878,6490436,0.0393,0.0202,487.645551
Missouri,18,6169270,0.0070,6126452,5995976,0.0289,0.0185,232.439260
Maryland,19,6083116,0.0067,6042718,5788642,0.0509,0.0182,1623.075878
Wisconsin,20,5851754,0.0066,5813568,5690479,0.0283,0.0175,279.847438
Colorado,21,5845526,0.0263,5695564,5048281,0.1579,0.0175,146.078178
Minnesota,22,5700671,0.0159,5611179,5310843,0.0734,0.0170,185.422947
South Carolina,23,5210095,0.0248,5084127,4635656,0.1239,0.0156,448.890005
Alabama,24,4908621,0.0042,4887871,4785448,0.0257,0.0147,251.027087
Louisiana,25,4645184,-0.0032,4659978,4544532,0.0221,0.0139,278.469047
Kentucky,26,4499692,0.0070,4468402,4348200,0.0348,0.0135,295.146239
Oregon,27,4301089,0.0263,4190713,3837532,0.1208,0.0129,116.053741
Oklahoma,28,3954821,0.0030,3943079,3759632,0.0519,0.0118,149.324987
Connecticut,29,3563077,-0.0027,3572665,3579125,-0.0045,0.0107,1905.891702
Utah,30,3282115,0.0383,3161105,2775334,0.1826,0.0098,103.451895
Iowa,31,3179849,0.0075,3156145,3050767,0.0423,0.0095,147.443879
Nevada,32,3139658,0.0347,3034392,2702464,0.1618,0.0094,74.071847
Arkansas,33,3038999,0.0084,3013825,2921978,0.0400,0.0091,151.263076
Puerto Rico,34,3032165,-0.0510,3195153,3721525,-0.1852,0.0091,2270.387721
Mississippi,35,2989260,0.0009,2986530,2970536,0.0063,0.0089,164.996747
Kansas,36,2910357,-0.0004,2911505,2858213,0.0182,0.0087,92.195289
New Mexico,37,2096640,0.0006,2095428,2064588,0.0155,0.0063,44.767944
Nebraska,38,1952570,0.0121,1929268,1829536,0.0672,0.0058,65.827397
Idaho,39,1826156,0.0410,1754208,1570773,0.1626,0.0055,57.230708
West Virginia,40,1778070,-0.0154,1805832,1854214,-0.0411,0.0053,191.579090
Hawaii,41,1412687,-0.0055,1420491,1363963,0.0357,0.0042,569.646906
New Hampshire,42,1371246,0.0109,1356458,1316777,0.0414,0.0041,396.683874
Maine,43,1345790,0.0055,1338404,1327632,0.0137,0.0040,113.010505
Montana,44,1086759,0.0230,1062305,990722,0.0969,0.0033,19.338923
Rhode Island,45,1056161,-0.0011,1057315,1053938,0.0021,0.0032,2645.497512
Delaware,46,982895,0.0163,967171,899595,0.0926,0.0029,1306.149911
South Dakota,47,903027,0.0236,882235,816165,0.1064,0.0027,30.850902
North Dakota,48,761723,0.0022,760077,674710,0.1290,0.0023,28.591656
Alaska,49,734002,-0.0047,737438,713906,0.0281,0.0022,3.331502
District of Columbia,50,720687,0.0260,702455,605085,0.1911,0.0022,30599.520715
Vermont,51,628061,0.0028,626299,625880,0.0035,0.0019,176.485934
Wyoming,52,567025,-0.0185,577737,564483,0.0045,0.0017,15.125531

In [70]:
joined_state_dic = dict()

for k,v in old_state_dic.items():
    new_state =  pd.concat([v,state_dic[k]])
    new_state.index = (pd.to_datetime(new_state.index)).date
    new_state = new_state[['confirmed','deceased','inc','dead_inc',
                          'factor','dead_factor']]
    
    new_state['inc'] = new_state['confirmed'] - new_state['confirmed'].shift()
    new_state['dead_inc'] = new_state['deceased'] - new_state['deceased'].shift()
    new_state['factor'] = new_state['confirmed'] / new_state['confirmed'].shift()
    new_state['dead_factor'] = new_state['deceased'] / new_state['deceased'].shift()
    new_state['density'] = us_state_density.loc[k,'density']
    new_state['gdp'] = us_state_economy.loc[k,'gdp']
    new_state['pct_dead'] = 100 * new_state['deceased'] / new_state['confirmed']
    new_state['conf_per_M'] = new_state['confirmed'] / (us_state_density.loc[k,'Pop'] / 1e6)
    new_state['dead_per_M'] = new_state['deceased'] / (us_state_density.loc[k,'Pop'] / 1e6)
    new_state = new_state[new_state['deceased'] > 1]
    new_state.replace(np.inf,np.nan,inplace=True)
    
    joined_state_dic[k] = new_state

In [71]:
joined_state_dic['New York']

,confirmed,deceased,inc,dead_inc,factor,dead_factor,density,gdp,pct_dead,conf_per_M,dead_per_M
2020-03-14,525.0,2.0,104.0,2.0,1.247031,NaN,1068.424744,89076,0.380952,27.005521,0.102878
2020-03-15,732.0,3.0,207.0,1.0,1.394286,1.500000,1068.424744,89076,0.409836,37.653413,0.154317
2020-03-16,967.0,10.0,235.0,7.0,1.321038,3.333333,1068.424744,89076,1.034126,49.741598,0.514391
2020-03-17,1706.0,13.0,739.0,3.0,1.764219,1.300000,1068.424744,89076,0.762016,87.755085,0.668708
2020-03-18,2495.0,16.0,789.0,3.0,1.462485,1.230769,1068.424744,89076,0.641283,128.340525,0.823025
...,...,...,...,...,...,...,...,...,...,...,...
2020-06-05,376208.0,30236.0,1075.0,62.0,1.002866,1.002055,1068.424744,89076,8.037043,19351.796502,1555.312272
2020-06-06,377316.0,30280.0,1108.0,44.0,1.002945,1.001455,1068.424744,89076,8.025104,19408.791012,1557.575591
2020-06-07,378097.0,30374.0,781.0,94.0,1.002070,1.003104,1068.424744,89076,8.033388,19448.964940,1562.410866
2020-06-08,378799.0,30417.0,702.0,43.0,1.001857,1.001416,1068.424744,89076,8.029852,19485.075180,1564.622746
2020-06-09,379482.0,30458.0,683.0,41.0,1.001803,1.001348,1068.424744,89076,8.026204,19520.208077,1566.731749

In [72]:
import pickle

with open ('us_state_dict.pkl','wb') as f:
    pickle.dump(joined_state_dic,f,pickle.HIGHEST_PROTOCOL)