In [165]:
import pandas as pd
import glob
import numpy as np

# new files since april-12

path = '../../corona/COVID-19/csse_covid_19_data/csse_covid_19_daily_reports_us/*.csv'

files = glob.glob(path)

us_states = pd.read_csv('us_states.csv',sep=';',header=None,usecols=[0])
us_states_df = pd.DataFrame()

for f in files:
    date = f.split('/')[-1].split('.')[0]
    
    df = pd.read_csv(f,sep=',',usecols=[0,2,5,6])
    df['Last_Update'] = (pd.to_datetime(df['Last_Update']))
    df['date'] = pd.to_datetime([date] * len(df))

    df.rename(columns={'Province_State' : 'state',
                      'Confirmed' : 'confirmed',
                      'Deaths' : 'deceased'},inplace=True)
    df = pd.merge(df,us_states,left_on='state',right_on=0)
    df.drop(0,axis=1,inplace=True)
    df.set_index('date',inplace=True)

    
    us_states_df = pd.concat([us_states_df,df])
    
us_states_df

                    state         Last_Update  confirmed  deceased
date
2020-04-12        Alabama 2020-04-12 23:18:15       3563        93
2020-04-12         Alaska 2020-04-12 23:18:15        272         8
2020-04-12        Arizona 2020-04-12 23:18:15       3542       115
2020-04-12       Arkansas 2020-04-12 23:18:15       1280        27
2020-04-12     California 2020-04-12 23:18:15      22795       640
...                   ...                 ...        ...       ...
2020-04-26       Virginia 2020-04-27 02:32:46      12970       449
2020-04-26     Washington 2020-04-27 02:32:46      13521       749
2020-04-26  West Virginia 2020-04-27 02:32:46       1055        34
2020-04-26      Wisconsin 2020-04-27 02:32:46       5912       272
2020-04-26        Wyoming 2020-04-27 02:32:46        502         7

[765 rows x 4 columns]

In [166]:
state_names = us_states_df['state'].unique()

state_dic = dict()

def process_state(state_name):
    
    state = (us_states_df[us_states_df['state'] == state_name]).copy()
    state['inc'] = state['confirmed'] - state['confirmed'].shift()
    state['dead_inc'] = state['deceased'] - state['deceased'].shift()
    state['factor'] = state['confirmed'] / state['confirmed'].shift()
    state['dead_factor'] = state['deceased'] / state['deceased'].shift()
    state_dic[state_name] = state

In [167]:
for s in state_names:
    process_state(s)
    
state_dic['New York']

,state,Last_Update,confirmed,deceased,inc,dead_inc,factor,dead_factor
date,,,,,,,,
2020-04-12,New York,2020-04-12 23:18:15,189033,9385,NaN,NaN,NaN,NaN
2020-04-13,New York,2020-04-13 23:07:54,195749,10058,6716.0,673.0,1.035528,1.071710
2020-04-14,New York,2020-04-14 23:33:31,203020,10842,7271.0,784.0,1.037145,1.077948
2020-04-15,New York,2020-04-15 22:56:51,214454,11617,11434.0,775.0,1.056320,1.071481
2020-04-16,New York,2020-04-16 23:30:51,223691,14832,9237.0,3215.0,1.043072,1.276750
2020-04-17,New York,2020-04-17 23:30:52,230597,17131,6906.0,2299.0,1.030873,1.155003
2020-04-18,New York,2020-04-18 22:32:47,241712,17671,11115.0,540.0,1.048201,1.031522
2020-04-19,New York,2020-04-19 23:41:01,247815,18298,6103.0,627.0,1.025249,1.035482
2020-04-20,New York,2020-04-20 23:36:47,253060,18611,5245.0,313.0,1.021165,1.017106
2020-04-21,New York,2020-04-21 23:40:34,258361,19104,5301.0,493.0,1.020948,1.026490
2020-04-22,New York,2020-04-22 23:40:26,263292,19413,4931.0,309.0,1.019086,1.016175
2020-04-23,New York,2020-04-24 03:33:00,263460,20973,168.0,1560.0,1.000638,1.080359
2020-04-24,New York,2020-04-25 06:32:46,271590,21411,8130.0,438.0,1.030859,1.020884
2020-04-25,New York,2020-04-26 02:32:45,282143,22009,10553.0,598.0,1.038856,1.027930
2020-04-26,New York,2020-04-27 02:32:46,288045,22269,5902.0,260.0,1.020918,1.011813

In [168]:
# old data from files before april 12
old_state_dic = pd.read_pickle('us_state_dict_old.pkl')

In [169]:
#https://worldpopulationreview.com/states/
us_state_density = pd.read_csv('us_states_pop_density.csv')
us_state_density.set_index('State',inplace=True)

us_state_economy = pd.read_csv('us_states_economy.csv',header=None,sep=';',
                               index_col=[1],thousands=',')

sqr_mile_factor = 2.58998811

us_state_density['density'] *= sqr_mile_factor 

us_state_economy.drop([0,2,3,5],axis=1,inplace=True)
us_state_economy.rename(columns={4:'gdp'},inplace=True)
us_state_economy.index.name='state'

In [173]:
joined_state_dic = dict()

for k,v in old_state_dic.items():
    new_state =  pd.concat([v,state_dic[k]])
    new_state.index = (pd.to_datetime(new_state.index)).date
    new_state = new_state[['confirmed','deceased','inc','dead_inc',
                          'factor','dead_factor']]
    
    new_state['inc'] = new_state['confirmed'] - new_state['confirmed'].shift()
    new_state['dead_inc'] = new_state['deceased'] - new_state['deceased'].shift()
    new_state['factor'] = new_state['confirmed'] / new_state['confirmed'].shift()
    new_state['dead_factor'] = new_state['deceased'] / new_state['deceased'].shift()
    new_state['density'] = us_state_density.loc[k,'density']
    new_state['gdp'] = us_state_economy.loc[k,'gdp']
    new_state['pct_dead'] = 100 * new_state['deceased'] / new_state['confirmed']
    new_state = new_state[new_state['deceased'] > 1]
    new_state.replace(np.inf,np.nan,inplace=True)
    
    joined_state_dic[k] = new_state

In [174]:
joined_state_dic['New York']

,confirmed,deceased,inc,dead_inc,factor,dead_factor,density,gdp,pct_dead
2020-03-14,525.0,2.0,104.0,2.0,1.247031,NaN,1068.424744,89076,0.380952
2020-03-15,732.0,3.0,207.0,1.0,1.394286,1.500000,1068.424744,89076,0.409836
2020-03-16,967.0,10.0,235.0,7.0,1.321038,3.333333,1068.424744,89076,1.034126
2020-03-17,1706.0,13.0,739.0,3.0,1.764219,1.300000,1068.424744,89076,0.762016
2020-03-18,2495.0,16.0,789.0,3.0,1.462485,1.230769,1068.424744,89076,0.641283
2020-03-19,5365.0,34.0,2870.0,18.0,2.150301,2.125000,1068.424744,89076,0.633737
2020-03-20,8310.0,42.0,2945.0,8.0,1.548928,1.235294,1068.424744,89076,0.505415
2020-03-21,11710.0,60.0,3400.0,18.0,1.409146,1.428571,1068.424744,89076,0.512383
2020-03-22,15800.0,117.0,4090.0,57.0,1.349274,1.950000,1068.424744,89076,0.740506
2020-03-23,20884.0,158.0,5084.0,41.0,1.321772,1.350427,1068.424744,89076,0.756560
2020-03-24,25681.0,210.0,4797.0,52.0,1.229697,1.329114,1068.424744,89076,0.817725
2020-03-25,30841.0,285.0,5160.0,75.0,1.200927,1.357143,1068.424744,89076,0.924095
2020-03-26,37877.0,385.0,7036.0,100.0,1.228138,1.350877,1068.424744,89076,1.016448
2020-03-27,44876.0,527.0,6999.0,142.0,1.184782,1.368831,1068.424744,89076,1.174347
2020-03-28,52410.0,728.0,7534.0,201.0,1.167885,1.381404,1068.424744,89076,1.389048
2020-03-29,59648.0,965.0,7238.0,237.0,1.138103,1.325549,1068.424744,89076,1.617825
2020-03-30,66663.0,1218.0,7015.0,253.0,1.117607,1.262176,1068.424744,89076,1.827100
2020-03-31,75833.0,1550.0,9170.0,332.0,1.137558,1.272578,1068.424744,89076,2.043965
2020-04-01,83948.0,1941.0,8115.0,391.0,1.107011,1.252258,1068.424744,89076,2.312146
2020-04-02,92506.0,2373.0,8558.0,432.0,1.101944,1.222566,1068.424744,89076,2.565239
2020-04-03,102987.0,2935.0,10481.0,562.0,1.113301,1.236831,1068.424744,89076,2.849874
2020-04-04,113833.0,3565.0,10846.0,630.0,1.105314,1.214651,1068.424744,89076,3.131781
2020-04-05,123160.0,4159.0,9327.0,594.0,1.081936,1.166620,1068.424744,89076,3.376908
2020-04-06,131815.0,4698.0,8655.0,539.0,1.070274,1.129598,1068.424744,89076,3.564086
2020-04-07,139875.0,5489.0,8060.0,791.0,1.061146,1.168370,1068.424744,89076,3.924218
2020-04-08,151061.0,6268.0,11186.0,779.0,1.079971,1.141920,1068.424744,89076,4.149317
2020-04-09,161779.0,7067.0,10718.0,799.0,1.070951,1.127473,1068.424744,89076,4.368305
2020-04-10,172348.0,7867.0,10569.0,800.0,1.065330,1.113202,1068.424744,89076,4.564602
2020-04-11,181026.0,8627.0,8678.0,760.0,1.050352,1.096606,1068.424744,89076,4.765614
2020-04-12,189033.0,9385.0,8007.0,758.0,1.044231,1.087864,1068.424744,89076,4.964742
2020-04-13,195749.0,10058.0,6716.0,673.0,1.035528,1.071710,1068.424744,89076,5.138213
2020-04-14,203020.0,10842.0,7271.0,784.0,1.037145,1.077948,1068.424744,89076,5.340361
2020-04-15,214454.0,11617.0,11434.0,775.0,1.056320,1.071481,1068.424744,89076,5.417013
2020-04-16,223691.0,14832.0,9237.0,3215.0,1.043072,1.276750,1068.424744,89076,6.630575
2020-04-17,230597.0,17131.0,6906.0,2299.0,1.030873,1.155003,1068.424744,89076,7.428978
2020-04-18,241712.0,17671.0,11115.0,540.0,1.048201,1.031522,1068.424744,89076,7.310767
2020-04-19,247815.0,18298.0,6103.0,627.0,1.025249,1.035482,1068.424744,89076,7.383734
2020-04-20,253060.0,18611.0,5245.0,313.0,1.021165,1.017106,1068.424744,89076,7.354382
2020-04-21,258361.0,19104.0,5301.0,493.0,1.020948,1.026490,1068.424744,89076,7.394305
2020-04-22,263292.0,19413.0,4931.0,309.0,1.019086,1.016175,1068.424744,89076,7.373183
2020-04-23,263460.0,20973.0,168.0,1560.0,1.000638,1.080359,1068.424744,89076,7.960601
2020-04-24,271590.0,21411.0,8130.0,438.0,1.030859,1.020884,1068.424744,89076,7.883575
2020-04-25,282143.0,22009.0,10553.0,598.0,1.038856,1.027930,1068.424744,89076,7.800654
2020-04-26,288045.0,22269.0,5902.0,260.0,1.020918,1.011813,1068.424744,89076,7.731084

In [175]:
import pickle

with open ('us_state_dict.pkl','wb') as f:
    pickle.dump(joined_state_dic,f,pickle.HIGHEST_PROTOCOL)