In [2]:
import numpy as np
import pandas as pd

In [7]:
df = pd.DataFrame({'Not Obese' : [25872,128],
                  'Obese' : [73548,452]},index=['No Covid','Covid'])

df

          Not Obese  Obese
No Covid      25872  73548
Covid           128    452

In [10]:
probabilities = df / df.sum()
probabilities

          Not Obese     Obese
No Covid   0.995077  0.993892
Covid      0.004923  0.006108

In [18]:
diffs = pd.DataFrame(probabilities['Obese'] / probabilities['Not Obese'],columns=['rel_diff']) 
diffs['abs_diff'] = probabilities['Obese'] - probabilities['Not Obese']

diffs

          rel_diff  abs_diff
No Covid  0.998809 -0.001185
Covid     1.240709  0.001185