In [6]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

df = pd.read_csv('../groupby_ex.csv',sep=';'
                 ,header=0,parse_dates=['Timestamp'],
                 index_col=['City','Timestamp'])

print ('+++ DataFrame +++')
print (df.head(40))

+++ DataFrame +++
                          Temp  TWS  TWD  Pressure
City Timestamp
Sth  2018-01-01 08:00:00    12   21  224      1080
Gbg  2018-01-01 08:00:00    11   31  180       980
Sth  2018-01-01 15:00:00     8    6  350       920
Gbg  2018-01-01 15:00:00     2    9   90      1002
Sth  2018-01-02 08:00:00     4    2   91      1001
Gbg  2018-01-02 08:00:00    16    6  135       991
Cph  2018-01-01 08:00:00     0   40   85       881
     2018-01-01 15:00:00    21   18   95       773
Hel  2018-01-02 08:00:00     1    7   65       664
     2018-01-02 15:00:00     0    9   45       557

In [8]:
#daily mean values by city per day of month
city_group = df.groupby(['City',df.index.get_level_values(
    'Timestamp').day]).mean()

print ('\n+++ city_group +++')
print (city_group)

+++ city_group +++
                Temp   TWS    TWD  Pressure
City Timestamp
Cph  1          10.5  29.0   90.0     827.0
Gbg  1           6.5  20.0  135.0     991.0
     2          16.0   6.0  135.0     991.0
Hel  2           0.5   8.0   55.0     610.5
Sth  1          10.0  13.5  287.0    1000.0
     2           4.0   2.0   91.0    1001.0

In [9]:
#grouping by columns - see letter_type ex
col_group = df.groupby({x:'summa' for x in df.columns},axis=1).sum()
print ('\n+++ col_group by dict +++')
print (col_group)
print ({x:df[x].mean() for x in df.columns})

+++ col_group by dict +++
                          summa
City Timestamp
Sth  2018-01-01 08:00:00   1337
Gbg  2018-01-01 08:00:00   1202
Sth  2018-01-01 15:00:00   1284
Gbg  2018-01-01 15:00:00   1103
Sth  2018-01-02 08:00:00   1098
Gbg  2018-01-02 08:00:00   1148
Cph  2018-01-01 08:00:00   1006
     2018-01-01 15:00:00    907
Hel  2018-01-02 08:00:00    737
     2018-01-02 15:00:00    611
{'Temp': 7.5, 'TWS': 14.9, 'TWD': 136.0, 'Pressure': 884.9}

In [5]:
def letter_type(colName):
    #print (colName)
    if colName.lower()[0] =='t':
        return 'startsWithT'
    else:
        return 'startsWithNonT'

print ('\n+++ letter_grp by function +++')
letter_grp = df.groupby(letter_type,axis=1).sum()
print (letter_grp)

+++ letter_grp by function +++
                          startsWithNonT  startsWithT
City Timestamp
Sth  2018-01-01 08:00:00            1080          257
Gbg  2018-01-01 08:00:00             980          222
Sth  2018-01-01 15:00:00             920          364
Gbg  2018-01-01 15:00:00            1002          101
Sth  2018-01-02 08:00:00            1001           97
Gbg  2018-01-02 08:00:00             991          157
Cph  2018-01-01 08:00:00             881          125
     2018-01-01 15:00:00             773          134
Hel  2018-01-02 08:00:00             664           73
     2018-01-02 15:00:00             557           54